<!DOCTYPE html>
<html ng-app="copier" ng-controller="copyCtrl as ctrl">

<head>
  <meta charset="UTF-8">
  <title>Code Propagator</title>
  <link rel="stylesheet" href="libraries/photon-0.1.2-dist/css/photon.min.css" />
  <link rel="stylesheet" href="libraries/angular/angular.min.css" />
  <script type="text/javascript" src="libraries/angular/angular.min.js"></script>
</head>

<body>
  <div class="window">
    <!-- .toolbar-header sits at the top of your app -->
    <header class="toolbar toolbar-header">
      <h1 class="title">Code Propagator</h1>
    </header>
    <div class="window-content">
      <div class="pane-group">
        <!-- sidebar for source and destination -->
        <div class="pane-md sidebar" style="padding-left:15px; min-width: 25%;max-width: 30%;">
          <div class="folder-select-group">
            <h3>Source</h3>
            <p style="white-space:normal; word-break: break-word;">{{ ctrl.sourceFolder}}</p>
            <button class="btn btn-default" ng-click="ctrl.sourceOpenClick()">Select</button>
          </div>
          <div class="folder-select-group">
            <h3>Destination</h3>
            <p style="white-space:normal; word-break: break-word;">{{ctrl.destinationFolder}}</p>
            <button class="btn btn-default" ng-click="ctrl.destinationOpenClick()">Select</button>
          </div>
          <div class="copy-options" style="margin-top:20px;">
            <div>
              <label class="switch">
                <input type="checkbox" ng-model="ctrl.top_level_destination_only"/>
                <div class="slider round"></div>
              </label>
              <label>Top Level Only</label>
            </div>
            <div>
              <label class="switch">
                <input type="checkbox" ng-model="ctrl.ignore_node_modules" ng-change="ctrl.ignore_node_modules_change()"/>
                <div class="slider round"></div>
              </label>
              <label>Ignore node_modules Folder</label>
            </div>
          </div>
        </div>
        <div class="pane">
          <div class="pane-group">
            <div class="pane">
              <h4>Source</h4>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="directory in ctrl.sourceDirectory.directories">
                  <span class="icon icon-folder"></span>&nbsp;&nbsp;{{directory.name}}
                  <!--<span class="icon icon-down-open pull-right" onclick="createDirectoryLevel(directory, this)"></span>-->
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="file in ctrl.sourceDirectory.files">
                  <span class="icon icon-doc"></span>&nbsp;&nbsp;{{file}}
                </li>
              </ul>
            </div>
            <div class="pane">
              <h4>Destination</h4>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="directory in ctrl.destinationDirectories">
                  <span class="icon icon-folder"></span>&nbsp;&nbsp;{{directory}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="toolbar toolbar-footer">
      <button class="btn btn-large btn-negative pull-right" ng-click=" ctrl.copyToDestination()">Push</button>
    </footer>
  </div>
</body>

</html>
<script>
  // You can also require other files to run in this process
  require('./renderer.js')
</script>